#list-users {
  font-family: sans-serif;
}

#list-users tr td {
  text-align: center;
  width: 200px;
}

#list-users tr td button {
  padding: 5px;
  width: 50px;
  border-radius: 5px;
}

#list-users tr th {
  text-align: left;
  width: 150px;
}

#list-users tr td,
#list-users tr th {
  border: thin solid lightgrey;
  padding: 5px;
}

ul.pagination {
  list-style: none;
  display: inline-flex;
}

ul.pagination li {
  margin: 0 4px;
}

ul.pagination li a {
  padding: 3px;
  border: thin solid #0f6674;
}

