table#list-users {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table#list-users td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table#list-users tr:nth-child(even) {
  background-color: #dddddd;
}

.header {
	line-height: 28px;
	background-color: #3e51b5;
	color: #fff;
	padding: 5px
}