/*#form-add-edit{
	border: thin solid black;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
}

#list-posts{
	border: thin solid black;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
}*/

#formAddUser{
    border: thin solid #636b6f;
    padding: 4px;
    border-radius: 3px;
}

#listUsers{
    margin-top: 20px;
}

#tblListUsers{

}

#tblListUsers tr th, #tblListUsers tr td{
    width: 200px;
    border-bottom: thick solid #636b6f;
}

#tblListUsers tr td:hover{
    color: brown;
    background-color: darkseagreen;
}
